@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Friend-ist (Friends List)</h1>
    <p class="lead">
        Have you ever been walking arround and suddenly you think "Who are all of my friends?"
        It sure would be great if I had a list of all of them all neat and organized. <br />
        Well search no more. Introducing Frend-ist: A list where you can keep track of all your friends
        (if you have any that is).
    </p>
    <p><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstleyVEVO" class="btn btn-primary btn-lg">Click here to learn more about us &raquo;</a></p>
</div>
